/.vs/project_hobocup/DesignTimeBuild/.dtbcache
/.vs/project_hobocup/v15/.suo
/.vs/project_hobocup/v15/Server/sqlite3/db.lock
/.vs/project_hobocup/v15/Server/sqlite3/storage.ide
/.vs/project_hobocup/v15/Server/sqlite3/storage.ide-shm
/.vs/project_hobocup/v15/Server/sqlite3/storage.ide-wal
/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
